.volunteer-bg {

    /*background-color: #0071bc;*/
    background-size: 400% 400%;
    background: -webkit-linear-gradient(#0071bc, darkgray); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0071bc, darkgray); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0071bc, darkgray); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0071bc, darkgray); /* Standard syntax */
}

.white-text{
    color: #FFFFFF;
}
.volunteer-pad{
    padding-left: 50px;
    padding-right: 50px;
}

.vertPad{
    padding-top: -10px;
}

.centButton{
    margin-left: auto;
    margin-right: auto;
}

.volinstlist{
    padding-left : 30%;
    padding-right: 30%;
    margin-left: auto;
    margin-right: auto;
}

.volunteerSelector {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

html,body { height:100%; }
