<section class="cat-grid" data-ng-controller="HomeController">
	<div class="page-header">
		<h1>New Cat</h1>
	</div>
	<div class="col-md-12">
		<form name="catForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="row">
					<div class="form-group col-md-8" ng-class="{ 'has-error': catForm.title.$dirty && catForm.title.$invalid }">
						<label class="control-label" for="name">Name</label>
						<div class="controls">
							<input name="name" type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
						</div>
					</div>
					<div class="form-group col-md-4">
						<label class="control-label" for="sex">Sex</label>
						<div class="controls">
							<select name="sex" class="form-control">
								<option value="0">Unknown</option>
								<option value="1">Male</option>
								<option value="2">Female</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-4">
						<label class="control-label" for="dob">Date of Birth</label>
						<div class="controls">
							<input name="dob" type="date" date-ng-model="dateOfBirth"
							id="dob" class="form-control" placeholder="Birthdate" />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label class="control-label" for="color">Color</label>
						<div class="controls">
							<input color="color" type="text" data-ng-model="color" id="color" class="form-control" placeholder="Color" required>
						</div>
					</div>
					<div class="form-group col-md-4">
						<label class="control-label" for="breed">Breed</label>
						<div class="controls">
							<input breed="breed" type="text" data-ng-model="breed" id="breed" class="form-control" placeholder="Breed" required>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-4">
						<label class="control-label" for="location">Current Location</label>
						<div class="controls">
							<input location="location" type="text" data-ng-model="location" id="location" class="form-control" placeholder="Current Location" required>
						</div>
					</div>
					<div class="form-group col-md-4">
						<label class="control-label" for="temperament">Temperament</label>
						<div class="controls">
							<input temperament="temperament" type="text" data-ng-model="temperament" id="temperament" class="form-control" placeholder="Temperament" required>
						</div>
					</div>
					<div class="form-group col-md-4">
						<label class="control-label" for="owner">Owner</label>
						<div class="controls">
							<input owner="owner" type="text" data-ng-model="owner" id="owner" class="form-control" placeholder="Owner" required>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-6">
						<label class="control-label" for="dateOfArrival">Date of Arrival</label>
						<div class="controls">
							<input name="dateOfArrival" type="text" date-ng-model="dateOfArrival" id="dateOfArrival"
							class="form-control" placeholder="Mr. Smith" />
						</div>
					</div>
					<div class="form-group col-md-6">
						<label class="control-label" for="vet">Vet</label>
						<div class="controls">
							<input name="vet" type="text" date-ng-model="vet" id="vet"
							class="form-control" placeholder="Mr. Smith" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-6">
						<label class="control-label" for="Address">Origin Address</label>
						<div class="controls">
							<input name="address" type="text"
							date-ng-model="originAddress" id="address"
							class="form-control" placeholder="1 Main St." />
						</div>
					</div>
					<div class="form-group col-md-6">
						<label class="control-label" for="originPerson">Origin Person</label>
						<div class="controls">
							<input name="originPerson" type="text"
							date-ng-model="originPerson" id="originPerson"
							class="form-control" placeholder="Mr. Smith" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label class="control-label" for="description">Description</label>
						<div class="controls">
							<textarea name="description" data-ng-model="description" id="description" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label class="control-label" for="notes">Notes</label>
						<div class="controls">
							<textarea name="notes" data-ng-model="notes" id="notes" class="form-control" cols="30" rows="10" placeholder="Notes"></textarea>
						</div>
					</div>
				</div>
				<div class="form-group">
					<input id="submit" type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
