<section class="cat-grid" data-ng-controller="HomeController">
    <a class="cat-grid-item new-cat" id="new-cat" href="#!/cats/create">
		<span class="details">
			<span class="name">New Cat...</span>
		</span>
    </a>
	<a ng-repeat="cat in cats" class="cat-grid-item" href="#!/cats/{{cat._id}}">
        <div>
            <img ng-src="/images/{{cat.profileImage}}/thumbnail" />
            <span class="details">
                <span class="name">{{cat.name}}</span>
                <span class="breed">
                    {{cat.breed}}
                </span>
            </span>
        </div>
	</a>
</section>
