<section data-ng-controller="CatViewController">
<div ng-show="isFound">
	<!--<div class="col-md-4 cat-profile-image-container">-->
		<!--<i class="glyphicon glyphicon-camera" ng-hide="cat.imageUrl"></i>-->
		<!--<img ng-src="{{cat.imageUrl}}" class="cat-profile-image" />-->
	<!--</div>-->
    <ul class="actions">
		<li>
			<a class="btn btn-lg btn-success text-center" href="/#!/">
				<i class="glyphicon glyphicon-list"></i>
				Cat List
			</a>
		</li>
		<li ng-show="cat.adopter === undefined">
			<button class="btn btn-lg btn-info text-center" ng-click="adopt()">
				<i class="glyphicon glyphicon-briefcase"></i>
				Adopt
			</button>
		</li>
		<li ng-show="cat.adopter !== undefined">
			<button class="btn btn-lg btn-danger text-center" ng-click="return()">
				<i class="glyphicon glyphicon-briefcase"></i>
				Return
			</button>
		</li>
		<li>
			<button class="btn btn-lg btn-primary text-center" ng-click="edit()">
				<i class="glyphicon glyphicon-wrench"></i>
				Edit
			</button>
		</li>
    </ul>
	<div class="page-header ">
		<h1 id="name">{{cat.name}}</h1>
	</div>
    <div class="profile">
		<div class="attribute-group">
			<h2>Basic Info</h2>
			<div class="profile-group">
				<span class="profile-attribute">Sex</span>
				<span class="profile-value" id="sex">{{convertSex(cat.sex)}}</span>
			</div>
			<div class="profile-group">
				<span class="profile-attribute">Color</span>
				<span class="profile-value" id="color">{{cat.color}}</span>
			</div>
			<div class="profile-group">
				<span class="profile-attribute">Breed</span>
				<span class="profile-value" id="breed">{{cat.breed}}</span>
			</div>
			<div class="profile-group">
				<span class="profile-attribute">Temperament</span>
				<span class="profile-value" id="temperament">{{cat.temperament}}</span>
			</div>
			<div class="profile-group description">
				<span class="profile-attribute">Description</span>
				<span class="profile-value" id="description">{{cat.description}}</span>
			</div>
			<div class="profile-group">
				<span class="profile-attribute">Date of Birth</span>
				<span class="profile-value" id="dateOfBirth">{{cat.dateOfBirth | date}}</span>
			</div>
			<div class="profile-group">
				<span class="profile-attribute">Vet</span>
				<span class="profile-value" id="vet">{{cat.vet}}</span>
			</div>
		</div>
		<div class="attribute-group timeline">
			<h2>Timeline</h2>
			<div class="timeline-content">
				<a ng-click="addEvent()" href="">
					<div class="add-event action">
						<i class="glyphicon glyphicon-plus"></i>
						<span>Add Event</span>
					</div>
				</a>
				<div class="timeline-event" ng-show="cat.owner != undefined">
					<i class="glyphicon glyphicon-briefcase"></i>
					<span class="timeline-label">Adopted</span>
					<span class="timeline-detail" id="owner">Adopted by {{cat.owner}}</span>
					<span class="timeline-date">{{cat.adoptionDate}}</span>
				</div>
				<div class="timeline-event" ng-repeat="event in cat.events | limitTo:eventLimit">
					<i class="glyphicon" ng-class="event.icon"></i>
					<span class="timeline-label">{{event.label}}</span>
					<span class="timeline-detail">{{event.detail}}</span>
					<span class="timeline-date">{{event.date|date}}</span>
					<button class="btn" ng-click="deleteEvent($index)">
						<i class="glyphicon glyphicon-remove"></i>
					</button>
				</div>
				<a ng-click="showMore()" href="">
					<div class="show-more action" ng-hide="eventLimit >= cat.events.length">
						<i class="glyphicon glyphicon-option-vertical"></i>
						<span>Show More...</span>
					</div>
				</a>
				<div class="timeline-event">
					<i class="glyphicon glyphicon-home"></i>
					<span class="timeline-label">Arrived</span>
					<span class="timeline-detail">{{shortOrigin(cat.origin)}}</span>
					<span class="timeline-date">{{cat.dateOfArrival|date}}</span>
				</div>
				<div class="timeline-event">
					<i class="glyphicon glyphicon-heart"></i>
					<span class="timeline-label">Born</span>
					<span class="timeline-date">{{cat.dateOfBirth|date}}</span>
				</div>
			</div>
		</div>
        <div class="attribute-group origin">
			<h2>Arrival</h2>
            <div class="profile-group">
                <span class="profile-attribute">Person</span>
                <span class="profile-value" id="originPerson">{{cat.origin.person}}</span>
            </div>
            <div class="profile-group">
                <span class="profile-attribute">Found at Address</span>
                <span class="profile-value" id="originAddress">{{cat.origin.address}}</span>
            </div>
            <div class="profile-group">
                <span class="profile-attribute">Organization</span>
                <span class="profile-value" id="originPerson">{{cat.origin.organization}}</span>
            </div>
        </div>
        <div class="profile-group notes">
            <div class="profile-attribute">Notes</div>
            <div class="profile-value" id="notes">
                <table style="width:100%">
                    <tr ng-repeat="note in cat.notes">
                        <td class="note">{{note.message}}</td>
						<td class="note-date">{{note.date|date}}</td>
                        <td class="note-person">{{note.sender}}</td>
                    </tr>
                    <tr>
						<form>
							<td class="note"><input name="note-message" ng-model="newNote" class="new-note" id="new-note" placeholder="Leave a new note..." /></td>
							<td></td>
							<td class="note-person"><button class="btn btn-default" type="submit" id="add-note">+</button></td>
						</form>
                    </tr>
                </table>
            </div>
        </div>
    </div>
	<div class="alert alert-danger" ng-hide="isFound">
		<i class="glyphicon glyphicon-exclamation-sign" aria-hidden=true></i>
		That cat could not be found.
	</div>
</section>
