<section data-ng-controller="CatViewController">
    <div class="page-header">
        <h1>{{cat.name}}</h1>
    </div>

    <div class="row">
        <h5  class="col-md-6">Sex</h5>
        <span class="col-md-6">{{convertSex(cat.sex)}}</span>
    </div>
    <div class="row">
        <h5  class="col-md-6">Date of Birth</h5>
        <span class="col-md-6">{{cat.dateOfBirth.toString()}}</span>
    </div>

    <div class="row">
        <h5  class="col-md-6">Color</h5>
        <span class="col-md-6">{{cat.color}}</span>
    </div>

    <div class="row">
        <h5  class="col-md-6">Breed</h5>
        <span class="col-md-6">{{cat.breed}}</span>
    </div>

    <div class="row">
        <h5  class="col-md-6">Current Location</h5>
        <span class="col-md-6">{{cat.location}}</span>
    </div>

    <div class="row">
        <h5  class="col-md-6">Temperament</h5>
        <span class="col-md-6">{{cat.temperament}}</span>
    </div>

    <div class="row">
        <h5  class="col-md-6">Owner</h5>
        <span class="col-md-6">{{cat.owner}}</span>
    </div>

    <div class="row">
        <h5  class="col-md-6">Date of Arrival</h5>
        <span class="col-md-6">{{cat.dateOfArrival}}</span>
    </div>

    <div class="row">
        <h5  class="col-md-6">Vet</h5>
        <span class="col-md-6">{{cat.vet}}</span>
    </div>

    <div class="row">
        <h5  class="col-md-6">Origin Address</h5>
        <span class="col-md-6">{{cat.origin.address}}</span>
    </div>

    <div class="row">
        <h5  class="col-md-6">Origin Person</h5>
        <span class="col-md-6">{{cat.origin.person}}</span>
    </div>

    <div class="row">
        <h5  class="col-md-6">Description</h5>
        <span class="col-md-6">{{cat.description}}</span>
    </div>

    <div class="row">
        <h5  class="col-md-6">Notes</h5>
        <span class="col-md-6">{{cat.notes}}</span>
    </div>

</section>
