<section data-ng-controller="Clock In/Out">
    <head>

    </head>
    <body>
    <div ng-app = "volunteers" ng-init="volunteer_name='name'">
        <h2 class="text-center">
            Welcome!
        </h2>
        <h5>
            <p>If you are here to volunteer, please type your full name in below and click on "sign in". When you are done, make sure to type in your name again and click on "sign out".</p>
        </h5>
        <script type="text/ng-template" id="customTemplate.html">
            <a>
                <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
                <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
            </a>
        </script>
        <div class='container-fluid' ng-controller="TypeaheadCtrl">

            <h4>Name:</h4>
            <input type="text" ng-model="volunteer_name" typeahead="state for state in states | filter:$viewValue" class="form-control">
        </div>


        <div ng-controller="ModalDemoCtrl" class="text-center">
            <script type="text/ng-template" id="signed_in.html">
                <div class="modal-header">
                    <h3 class="modal-title">Success!</h3>
                </div>
                <div class="modal-body">
                    <p>Thank You for volunteering, {{volunteer_name}}!</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </script>
            <br>
            <button type="button"  class="btn btn-primary" ng-click="open()" >Sign In</button>
            <button type="button"  class="btn btn-primary">Sign Out</button>
        </div>

    </div>

