.modal-content { padding: 2em; }.message { margin:1em; }
.page-header h1 { display: inline-block; }
.page-header span { font-size:1.2em; }
.profile-attribute { font-weight:bold; }
.alert.alert-danger { margin:2em; }
.cat-profile-image-container {
	display:inline-block;
   	min-height:200px;
	max-height:300px;
	width:25%;
	padding:0;
	font-size:14px;
	position:relative;
	vertical-align:top;
	border:1px solid #ddd;
	text-align:center;
}
.cat-profile-image-container .glyphicon { 
	z-index:1;
	width:100%;
	font-size:10em; 
	text-align:center;
	line-height:3.5em;
}
.cat-profile-image { 
	zoom:2;
	max-height:100%;
	max-width:100%;
	height:auto;
	width:auto; 
	margin-top:0;
}
.timeline, .profile-group {
	font-size:14px;
}
/* Overall Profile Styles */
.profile {
	/* to make controlling space between inline elements possible */
	font-size:0;
}
.profile-group {
	display:inline-block;
	width:25%;
	margin:0;
	padding:0.5em;
}
.profile .basic-info {
	padding-left:14px;
	width:75%;
	display:inline-block;
	position:relative;
}
.profile-group.description { width: 75%; }
@media (max-width: 520px) {
	.profile-group {
		width: 100%;
	}
}
.origin .profile-group { width:33%; }
.attribute-group h2 {
	font-size:22px;
}
.profile-group.notes, #notes {
	width:100%;
	display:block;
}
.profile-group .profile-attribute {
	color: #aaa;
	font-size:0.8em;
	border-bottom:1px solid #ddd;
	margin-bottom:0.5em;
	text-transform:uppercase;
	padding:0.5em 0.5em 0.2em 0;
	display:block;
}
.profile-group .profile-value {
	min-height: 1em;
	display:inline-block;
}
.actions .btn i.glyphicon { display:block; margin-bottom:0.3em; }
ul.actions { list-style-type:none; margin:0; padding:0; float:right; }
ul.actions li { display:inline-block; margin-left:0.5em; }

/* Timeline Styles */
.timeline {
   	position:relative; 
}
.timeline .timeline-event {
	margin:2em 1em 2em 3.0em;
	padding:1em 1em 1em 4em;
	background-color:#ddd;
	width: 25em;
	border-radius: 0.5em;
	position:relative;
	min-height:3em;
}

.timeline .timeline-event:before {
	/* triangle to the left of each event */
	content:"";
	border:0.8em solid transparent;
	border-left:none;
	border-top-color:transparent;
	border-bottom-color:transparent;
	border-right-color:#ddd;
	position:absolute;
	left:-0.8em;
	top:50%;
	-webkit-transform:translate(0,-0.8em);
	-moz-transform:translate(0,-0.8em);
	-ms-transform:translate(0,-0.8em);
	transform:translate(0,-0.8em);
}

.timeline-content { 
   	position:relative; 
	margin:3em 0 4em 12em;
}

.timeline-content:before {
	/* vertical line of timeline */ 
	content:"";
	background-color:#666;
	width:0.5em;
	margin-top:-1.5em;
	height:100%;
	height:calc(100% + 4em);
	left:1.7em;
	position:absolute;
	display:block;
}

.timeline-content:after {
	/* circle at beginning of timeline */
	content:"";
	background-color:#666;
	position:absolute;
	width:1.5em;
	height:1.5em;
	border-radius:3em;
	left:1.2em;
}
.timeline-event .timeline-label {
	text-transform:uppercase;
	font-weight:bold;
	color:#666;
	font-size:85%;
	display:block;
}
.timeline .action > .glyphicon {
	margin-left:0.5em;
	background-color:white;
	z-index:100;
	font-size:200%;
	height:1.5em;
	line-height:1.5em;
	padding:0;
	position:relative;
}
.timeline .action {
	position:relative; 
	display:inline-block;
	width:15em;
}
.timeline .action span {
	position:absolute;
	top:50%;
	margin-left:0.5em;
	-webkit-transform:translate(0,-0.5em);
	-moz-transform:translate(0,-0.5em);
	-ms-transform:translate(0,-0.5em);
	transform:translate(0, -0.5em);
}
.timeline a:link .action, .timeline a:visited .action  {
	color:#666;
}
.timeline a:hover .action {
	color:#3cF;
}

.timeline-event > .glyphicon {
	position:absolute;
	left: 0.5em;
	top:50%;
	font-size:2em;
	-webkit-transform:translate(0,-0.5em);
	-moz-transform:translate(0,-0.5em);
	-ms-transform:translate(0,-0.5em);
	transform:translate(0,-0.5em);
}

.timeline-event .btn {
	position:absolute;
	top:0.5em;
	right:0.5em;
	background:none;
	border-radius:0;
	padding:0;
	height:1.3em;
	line-height:1.5em;
}
.timeline-event .btn:hover {
	background-color: #a33;
	color:white;
}

.timeline-event .timeline-date {
	position:absolute;
	right:26.5em;
	top:50%;
	-webkit-transform:translate(0,-0.6em);
	-moz-transform:translate(0,-0.6em);
	-ms-transform:translate(0,-0.6em);
	transform:translate(0,-0.6em);
	width:10em;
	text-align:right;
	padding-right:0.2em;
}

/* Notes */
.new-note {
	width: 100%;
	border:0;
	border-bottom:2px solid transparent;
}
.new-note:hover {
	border-bottom-color:#ccc;
}
.new-note:focus {
	border-bottom-color:#09f;
	outline:none;
}
#new-note.ng-dirty {
	border-bottom-color:#c30;
}
.note {
	padding-right:1em;
}

.form-control { margin-top:1em; }
