
.no-padding.no-damn-padding{
	padding:0;
	margin:0;
	height:100%;
}
.navigation{
	background: #0071BC;
	height:100%;
	width: 100%;


}
.color-blue{
	background-color: #0071BC;
	height: 100%;

}
ul.link-list {
	background:#0071BC;
	width:100%;
	list-style-type: none;
	padding: 0;
}
li.list-element{
	position: relative;
	background:#0071BC;
}
a.list-link{
	width: 100%
}
a.list-link,a.list-link:visited{
	position:relative;
    display:inline-block;
    line-height:3em;
    padding-left:1em;
    font-size: 1.7em;
    color: white;
    text-decoration: none;
}
a.list-link:hover{
	text-decoration: none;
	background: #29abe2;
	color: white;
}
ul li.link-element:hover{
	background: white;
	color: blue;
}
/*.link-list ul, .link-list ul li {
    position:relative;
    list-style-type:none;
    margin:0;
    padding:0;
}
.link-list ul li a:link, .link-list ul li a:visited {
    position:relative;
    display:inline-block;
    line-height:3em;
    padding-left:1em;
    color:#ddd;
    background:#333340;
}
.link-list ul li a:hover {
    background-color:#9999AA;
}*/
.brand-image{
	margin-top: 0;
	width: 100%;
}

.main-layout .content {
	margin-top: 50px;
    padding-left:200px;
    box-sizing:border-box;
    display: inline-block;
	vertical-align: top;
	margin-left: 16em;
}

.content .container {
    width:100%;
}

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak {
	display: block;
}

.cat-grid {
	max-width:70em;
	margin:auto;
}

.cat-grid-item {
	position:relative;
	display:inline-block;
	width:12rem;
	height:12rem;
	background-color:#ccc;
	margin:1rem;
}

.cat-grid-item img {
	position: absolute;
	width: 100%;
	height: 100%;
}

.cat-grid-item:hover {
	cursor:pointer;
	background-color:#888;
}

.cat-grid-item:active {
	cursor:pointer;
	background-color:#666;
}

.cat-grid-item .details .name {
	font-size: 120%;
	margin:0;
	font-weight:bold;
}

.cat-grid-item .details {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	padding-left:0.75em;
	position:absolute;
	color:#ddd;
	width:100%;
	left:0;
	bottom:0;
	background-color:rgb(22, 22, 22);
	background-color:rgba(22, 22, 22, 0.7);
}

.cat-grid-item:hover .details {
	background-color:rgb(22, 22, 22);
	background-color:rgba(11, 00, 05, 0.9);
}

.cat-grid-item .details .name { display:block; margin:0;}
 
.cat-grid-item.new-cat:after { 
	content:"+";
	width:12rem;
	line-height:8rem;
	height:8rem;
	font-size:8rem;
	text-align:center;
	display:inline-block;
	position:absolute; 
	margin-left:-6rem;
	left:6rem;
}

.row .form-group {
	margin-left: 15px; 
}
.head{
	background:#0071BC;
}
header{
	width: 15em;
	height: 100%;
	position: absolute;
	margin-top: 0;
}
html, body{
	min-height:100%;
	background-color: #def;
}
