<section data-ng-controller="DonationsController">
    <div class="page-header">
        <h1>New Donation</h1>
    </div>
    <style type="text/css">
        .myButton {
            background-color: black;
            border-radius:20px;
            border:1px solid black;
            display:inline-block;
            cursor:pointer;
            color: #D4D4D4;
            font-family:arial;
            font-size:17px;
            padding:16px 31px;
            text-decoration:none;
            text-shadow:0px 1px 0px #2f6627;
        }
        .myButton:hover {
            color:#ffffff;
            text-decoration: none;
        }
        .myButton:active {
            position:relative;
            top:1px;
        }

    </style>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
               <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="dollarAmount">Dollar Amount</label>
                    <div class="controls">
                        <input type="text" data-ng-model="dollarAmount" id="dollarAmount" class="form-control" placeholder="$0.00" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="paymentType">Payment Type</label>
                    <div class="controls">
                        <!--<input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>-->
                        <select data-ng-model="paymentType" id="paymentType" class="form-control" placeholder="CASH MONAY" required>
                            <option value="" disabled selected>Select Payment Type</option>
                            <option value="cash">Cash</option>
                            <option value="credit">Credit</option>
                            <option value="check">Check</option>
                            <option value="rupees">Rupees</option>
                            <option value="food">Food</option>
                            </select>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="myButton">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
