<section data-ng-controller="DonationsController">
    <div class="page-header">
        <h1>New Donation</h1>
    </div>
    <style type="text/css">
        .myButton {
            background-color: black;
            border-radius:20px;
            border:1px solid black;
            display:inline-block;
            cursor:pointer;
            color: #D4D4D4;
            font-family:arial;
            font-size:17px;
            padding:16px 31px;
            text-decoration:none;
            text-shadow:0px 1px 0px #2f6627;
        }
        .myButton:hover {
            color:#ffffff;
            text-decoration: none;
        }
        .myButton:active {
            position:relative;
            top:1px;
        }

    </style>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>

                <div class="row">
                    <div class="form-group">
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            <contacts-selector max=1 ng-model=contacts> Select donor from contacts list: </contacts-selector>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                            <label class="control-label" for="dob">Date of Donation</label>
                            <div class="controls">
                                <p class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="dd MMM yyyy" ng-model="dateOfBirth"
                                           is-open="opened" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="form-control btn btn-default" ng-click="open($event)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                </div>

                <div ng-repeat="item in items" class="row">
                    <div class="itemFields">

                        <div class="form-group col-md-2">
                            <label class="control-label" for="item">New Item</label>
                            <div class="controls">
                                <select ng-model="item.name" name="name" class="form-control">
                                    <option default disabled="disabled" selected="true">Item Name</option>
                                    <option value="Monetary">Monetary</option>
                                    <option value="Food">Food</option>
                                    <option value= "Supplies">Supplies</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-md-2">
                            <label class="control-label" for="item">Value</label>
                            <div class="controls">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label class="control-label" for="item">Description</label>
                            <div class="controls">
                               <!-- <input type="text" class="form-control"> -->
                                    <TEXTAREA NAME="Address" ROWS=4 COLS=30 >
                                    </TEXTAREA>
                                
                            </div>
                        </div>

                        <div class="form-group col-md-2">
                            <ng-switch on="item.name">
                                <i ng-switch-default class="glyphicon glyphicon-briefcase" style="font-size:2.0em;"> </i>
                                <i ng-switch-when="Monetary" class="glyphicon glyphicon-usd" style="font-size:2.0em;"> </i>
                                <i ng-switch-when="Food" class="glyphicon glyphicon-heart" style="font-size:2.0em;"> </i>
                                <i ng-switch-when="Supplies" class="glyphicon glyphicon-wrench" style="font-size:2.0em;"> </i>
                            </ng-switch>
                        </div>

                    </div>

                    <div class="form-group">
                        <button  ng-click="items.splice($index, 1)" id="addItem" type="button" class="myButton">Delete Item</button>
                    </div>

                </div>

                <!--
                <div class="form-group col-md-4">
                        <label class="control-label" for="sex">Sex</label>
                        <div class="controls">
                            <select name="sex" class="form-control">
                                <option value="0">Unknown</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <button  ng-click="items.push({})" id="addItem" type="button" class="myButton" style="text-align:center;">Add Item</button>
                    </div>

                <div class="form-group" style="text-align:center;">
                    <input type="submit" class="myButton">
                </div>

				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>

            </fieldset>
        </form>
    </div>
</section>
