<section data-ng-controller="DonationsController" data-ng-init="find()">
    <style type="text/css">
        .myButton {
            background-color: black;
            border-radius:20px;
            border:1px solid black;
            display:inline-block;
            cursor:pointer;
            color: #D4D4D4;
            font-family:arial;
            font-size:17px;
            padding:16px 31px;
            text-decoration:none;
            text-shadow:0px 1px 0px #2f6627;
        }
        .myButton:hover {
            color:#ffffff;
            text-decoration: none;
        }
        .myButton:active {
            position:relative;
            top:1px;
        }

    </style>
    <div class="page-header">
        <h1>Donations</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="donation in donations" data-ng-href="#!/donations/{{donation._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="donation.created | date:'medium'"></span>
				by
				<span data-ng-bind="donation.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="donation.name"></h4>
        </a>
    </div>
    <a href="/#!/donations/create" class="myButton" >Create Donation</a>
    <div class="alert alert-warning text-center" data-ng-hide="!donations.$resolved || donations.length">
    	No Donations yet, why don't you <a href="/#!/donations/create">create one</a>?
    </div>
</section>
