<section data-ng-controller="DonationsController" data-ng-init="findOne()">
    <style type="text/css">
        .myButton {
            background-color: black;
            border-radius:20px;
            border:1px solid black;
            display:inline-block;
            cursor:pointer;
            color: #D4D4D4;
            font-family:arial;
            font-size:17px;
            padding:16px 31px;
            text-decoration:none;
            text-shadow:0px 1px 0px #2f6627;
        }
        .myButton:hover {
            color:#ffffff;
            text-decoration: none;
        }
        .myButton:active {
            position:relative;
            top:1px;
        }

    </style>
	<div class="page-header">
		<h1 data-ng-bind="donation.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == donation.user._id))">
		<a class="btn btn-primary" href="/#!/donations/{{donation._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="donation.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="donation.user.displayName"></span>
		</em>
	</small>
    <a href="/#!/donations" class="myButton pull-right">Back to Donations</a>
</section>
