<section data-ng-init="findOne()">
	<div class="page-header">
        <section class="text-center" ng-show="volunteer.timeOut == null">
            <h3>
                Sign in Successful
            </h3>
            <p>
                </br>
                Have fun volunteering, <contact-link contact-id="volunteer.contact"></contact-link>. Don't don't forget to sign out when you are done!
                </br>
                <span class="text-muted">You signed in at {{currTime | date:'shortTime'}}.</span>
            </p>

        </section>

		<section class="text-center" ng-show="volunteer.timeOut != null">
            <h3>
            Sign out Successful
        </h3>
            <p>
                </br>
                Thank you for volunteering, <contact-link contact-id="volunteer.contact"></contact-link>!
                </br>
                <span class="text-muted">You signed out at {{currTime | date:'shortTime'}}.</span>
            </p>

        </section>

        </br>
	</div>

	<!--
    <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == volunteer.user._id))">
		<a class="btn btn-primary" href="/#!/volunteers/{{volunteer._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="volunteer.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="volunteer.user.displayName"></span>
		</em>
	</small>
    -->
</section>
