<ul class="contact-selector">
	<li ng-repeat="contact in selectedContacts" 
	    ng-class="{last: $index == maxContacts - 1}">
		<span>
			{{contact.firstName}} {{contact.surname}}
		</span>
		<div ng-click="unselect(contact, $index)">
			<i class="glyphicon glyphicon-trash"></i> 
		</div>
    </li>
    <li>
        <button style="width:4.0em; height:2.0em;" ng-click="showModal()" ng-show="selectedContacts.length < maxContacts">
			<i class="glyphicon glyphicon-user"></i>
        </button>
    </li>
</ul>
