<ul class="contact-selector" style="display:inline-block;">
	<li ng-repeat="contact in selectedContacts" 
	    ng-class="{last: $index == maxContacts - 1}">
		<span>
			{{contact.firstName}} {{contact.surname}}
		</span>
		<div ng-click="unselect(contact, $index)">
			<i class="glyphicon glyphicon-trash"></i> 
		</div>
    </li>
    <li>
        <span class="btn btn-default" ng-click="showModal()" ng-show="selectedContacts.length < maxContacts">
			<i class="glyphicon glyphicon-user"></i>
            Click to select
        </span>
    </li>
</ul>
