<section data-ng-controller="ContactsCreateController as contactCtrl">
    <div class="page-header">
        <h1>New Contact</h1>
    </div>
    <div>
        <form name="createContactForm">
        <!--<form class="" data-ng-submit="contactCtrl.create()" novalidate>-->
            <fieldset>
                <div class="row">
                    <div class="form-group">
                        <div data-ng-show="error" class="text-center text-danger">
                            <div class="alert alert-danger" role="alert"></div>
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </div>
                </div>
                    <!--<div class="col-sm-6 text-center">-->
                        <!--&lt;!&ndash;<i class="glyphicon glyphicon-user cust-profile"  ng-class="{'text-primary': is_volunteer, 'text-danger': !is_volunteer}"></i>&ndash;&gt;-->
                    <!--</div>-->
                <div class="row">
                    <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="firstName">First Name</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="firstName" id="firstName" name="firstName" class="form-control" required>
                                </div>
                            </div>
                    </div>
                    <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="surname">Last Name</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="surname" id="surname" class="form-control" required>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="address">Address</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="address" id="address" class="form-control">
                                </div>
                            </div>
                    </div>
                    <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="city">City</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="city" id="city" class="form-control">
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="state">State</label>
                            <div class="controls">
                                <!--<input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>-->
                                <select data-ng-model="state" id="state" class="form-control" placeholder="State">
                                    <option value="" disabled selected>Select a State</option>
                                    <option value="AL">AL</option>
                                    <option value="AK">AK</option>
                                    <option value="AZ">AZ</option>
                                    <option value="AR">AR</option>
                                    <option value="CA">CA</option>
                                    <option value="CO">CO</option>
                                    <option value="CT">CT</option>
                                    <option value="DE">DE</option>
                                    <option value="DC">DC</option>
                                    <option value="FL">FL</option>
                                    <option value="GA">GA</option>
                                    <option value="HI">HI</option>
                                    <option value="ID">ID</option>
                                    <option value="IL">IL</option>
                                    <option value="IN">IN</option>
                                    <option value="IA">IA</option>
                                    <option value="KS">KS</option>
                                    <option value="KY">KY</option>
                                    <option value="LA">LA</option>
                                    <option value="ME">ME</option>
                                    <option value="MD">MD</option>
                                    <option value="MA">MA</option>
                                    <option value="MI">MI</option>
                                    <option value="MN">MN</option>
                                    <option value="MS">MS</option>
                                    <option value="MO">MO</option>
                                    <option value="MT">MT</option>
                                    <option value="NE">NE</option>
                                    <option value="NV">NV</option>
                                    <option value="NH">NH</option>
                                    <option value="NJ">NJ</option>
                                    <option value="NM">NM</option>
                                    <option value="NY">NY</option>
                                    <option value="NC">NC</option>
                                    <option value="ND">ND</option>
                                    <option value="OH">OH</option>
                                    <option value="OK">OK</option>
                                    <option value="OR">OR</option>
                                    <option value="PA">PA</option>
                                    <option value="RI">RI</option>
                                    <option value="SC">SC</option>
                                    <option value="SD">SD</option>
                                    <option value="TN">TN</option>
                                    <option value="TX">TX</option>
                                    <option value="UT">UT</option>
                                    <option value="VT">VT</option>
                                    <option value="VA">VA</option>
                                    <option value="WA">WA</option>
                                    <option value="WV">WV</option>
                                    <option value="WI">WI</option>
                                    <option value="WY">WY</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="zipCode">Zip Code</label>
                            <div class="controls">
                                <input type="text" data-ng-model="zipCode" id="zipCode" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <!--<div class="form-group">-->
                            <!--<label class="control-label" for="is_volunteer">is_volunteer</label>-->
                            <!--<div class="controls">-->
                                <!--<input type="checkbox" data-ng-model="is_volunteer" id="is_volunteer" class="form-control checkbox-left" required>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="control-label" for="phone">Phone</label>
                            <div class="controls">
                                <input type="text" data-ng-model="phone" id="phone" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="email">Email</label>
                            <div class="controls">
                                <input type="text" data-ng-model="email" id="email" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-success btn-lg" ng-click="create(); ok()" ng-disabled="createContactForm.$invalid">Save</button>
                        <!--<div class="form-group">-->
                            <!--<button type="submit" class="btn btn-lg btn-success">Save & Close</button>-->
                        <!--</div>-->
                    </div>
                <!--</div>-->
            </fieldset>
        </form>
    </div>
</section>
