<div class="list-group" data-ng-controller="ContactsViewController as contactViewCtrl"
     ng-init="findOne()" style="padding-top:1.5em;">
    <fieldset>
        <!--<div class="col-sm-6 text-center">-->
        <!--&lt;!&ndash;<i class="glyphicon glyphicon-user cust-profile"  ng-class="{'text-primary': is_volunteer, 'text-danger': !is_volunteer}"></i>&ndash;&gt;-->
        <!--</div>-->

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-7">
                <h1><b> {{contact.firstName}} {{contact.surname}} </b></h1>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 text-center pull-right action-buttons">
                <a href="/#!/contacts">
                    <button type="button" class="btn btn-success btn-md text-center" href="/#!/contacts">

                        <i class="glyphicon glyphicon-list"></i> <br>
                        List of Contacts
                    </button>
                </a>
                <a ng-click="contactViewCtrl.modalUpdate('lg', contact)">
                    <button type="button" class="btn btn-primary text-center btn-md" >
                        <!--<button type="button" class="btn btn-primary text-center" href="/#!/contacts/create">-->

                        <i class="glyphicon glyphicon-wrench"></i> <br>
                        Edit Contact
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
            <div ng-show="contact.isAdopter" class = "col-xs-12 col-sm-6 col-md-2">
                <a ng-click="contactViewCtrl.modalAdoptedCatsView('lg', contact)">
                    <button type="button" class="btn btn-default btn-md background-pink">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Adopter
                    </button>
                </a>
            </div>

        </div>
        <div class="profile">
            <div class="attribute-group">
                <h2>Basic Info</h2>
                <div class="profile-group">
                    <span class="profile-attribute">Phone Number:</span>
                    <span class="profile-value" id="sex">{{ formatPhoneNumber(contact.phone) }}</span>
                </div>
                <div class="profile-group">
                    <span class="profile-attribute">Email</span>
                    <span class="profile-value" id="color">{{contact.email}}</span>
                </div>
                <div class="profile-group">
                    <span class="profile-attribute">Address</span>
                    <span class="profile-value" id="breed">{{contact.address}}</span>
                </div>
                <div class="profile-group">
                    <span class="profile-attribute">City</span>
                    <span class="profile-value" id="temperament">{{contact.city}}</span>
                </div>
                <div class="profile-group">
                    <span class="profile-attribute">State</span>
                    <span class="profile-value" id="description">{{contact.state}}</span>
                </div>
                <div class="profile-group">
                    <span class="profile-attribute">Zip Code</span>
                    <span class="profile-value" id="dateOfBirth">{{ formatZipCode(contact.zipCode) }}</span>
                </div>
            </div>
        </div>

    </fieldset>



    <!--<div class = "col-xs-12">-->
        <!--<a ng-click="contactsCtrl.modalUpdate('lg', contact)" class="list-group-item">-->
            <!--&lt;!&ndash;<h4 class="cust-list text-center">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="glyphicon glyphicon-user"></i>&ndash;&gt;-->
            <!--&lt;!&ndash;</h4>&ndash;&gt;-->
            <!--<div class="row">-->
                <!--<div class="col-xs-10 col-xs-offset-1 text-center">-->
                     <!--{{contact.firstName}} {{contact.surname}} </h4>-->
                    <!--<small class="list-group-item-text text-muted">-->
                        <!--<span data-ng-bind="contact.created | date:'medium'"></span>-->
                    <!--</small>-->
                <!--</div>-->
            <!--</div>-->

        <!--</a>-->
    <!--</div>-->
</div>

<!--<h4> {{contact.firstName}} {{contact.surname}} </h4>-->



<!--<div class="alert alert-warning text-center" data-ng-hide="!contacts.$resolved || contacts.length">-->
    <!--No Contacts yet, why don't you <a href="/#!/contacts/create">create one</a>?-->
<!--</div>-->
