<div class="list-group" data-ng-controller="ContactsViewController as contactViewCtrl"
     ng-init="findOne()" style="padding-top:1.5em;">
    <fieldset>
        <!--<div class="col-sm-6 text-center">-->
        <!--&lt;!&ndash;<i class="glyphicon glyphicon-user cust-profile"  ng-class="{'text-primary': is_volunteer, 'text-danger': !is_volunteer}"></i>&ndash;&gt;-->
        <!--</div>-->

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-7">
                <h1><b> {{contact.firstName}} {{contact.surname}} </b><span class="label label-danger"
                        ng-show="contact.do_not_adopt">DO NOT ADOPT</span></h1>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 text-center pull-right action-buttons">
                <a href="/#!/contacts">
                    <button type="button" class="btn btn-success btn-md text-center" href="/#!/contacts">

                        <i class="glyphicon glyphicon-list"></i> <br>
                        List of Contacts
                    </button>
                </a>
                <a ng-click="contactViewCtrl.modalUpdate('lg', contact)">
                    <button type="button" class="btn btn-primary text-center btn-md" >
                        <!--<button type="button" class="btn btn-primary text-center" href="/#!/contacts/create">-->

                        <i class="glyphicon glyphicon-wrench"></i> <br>
                        Edit Contact
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
            <div ng-show="contact.isAdopter" class = "col-xs-12 col-sm-6 col-md-1">
                <a ng-click="contactViewCtrl.modalAdoptedCatsView('lg', contact)">
                    <button type="button" class="btn btn-default btn-md btn-danger">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Adopter
                    </button>
                </a>
            </div>
            <div ng-show="contact.isVet" class = "col-xs-12 col-sm-6 col-md-1 padding-left">
                <a ng-click="contactViewCtrl.modalAdoptedCatsView('lg', contact)">
                    <button type="button" class="btn btn-default btn-md background-pink">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Veterinarian
                    </button>
                </a>
            </div>
            <div ng-show="contact.isDonator" class = "col-xs-12 col-sm-6 col-md-1 padding-left">
                <a ng-click="contactViewCtrl.modalDonationsView('lg', contact)">
                    <button type="button" class="btn btn-default btn-md btn-success">
                        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Donator
                    </button>
                </a>
            </div>

        </div>
        <div class="profile">
            <div class="attribute-group">
                <h2>Basic Info</h2>
                <div class="profile-group">
                    <span class="profile-attribute">Phone Number:</span>
                    <span class="profile-value" id="sex">{{ formatPhoneNumber(contact.phone) }}</span>
                </div>
                <div class="profile-group">
                    <span class="profile-attribute">Email</span>
                    <span class="profile-value" id="color">{{contact.email}}</span>
                </div>
                <div class="profile-group">
                    <span class="profile-attribute">Address</span>
                    <span class="profile-value" id="breed">{{contact.address}}</span>
                </div>
                <div class="profile-group">
                    <span class="profile-attribute">City</span>
                    <span class="profile-value" id="temperament">{{contact.city}}</span>
                </div>
                <div class="profile-group">
                    <span class="profile-attribute">State</span>
                    <span class="profile-value" id="description">{{contact.state}}</span>
                </div>
                <div class="profile-group">
                    <span class="profile-attribute">Zip Code</span>
                    <span class="profile-value" id="dateOfBirth">{{ formatZipCode(contact.zipCode) }}</span>
                </div>
            </div>
        </div>

        <div class="profile-group notes">
            <div class="profile-attribute">Notes</div>
            <div class="profile-value">
                <table style="width:100%">
                    <tr ng-repeat="note in contact.notes" class="note">
                        <td class="note-message">{{note.message}}</td>
                        <td class="note-date">{{note.date|date}}</td>
                        <td class="note-person"><contact-link contact-id="note.sender"></contact-link></td>
                        <td class="note-delete">
                            <button class="btn btn-danger" ng-click="deleteNote(note, $index)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <form>
                            <td><input name="note-message" ng-model="newNote" class="new-note" id="new-note" placeholder="Leave a new note..." /></td>
                            <td></td>
                            <td class="note-person"><button class="btn btn-default" ng-click="addNote()" type="submit" id="add-note">+</button></td>
                            <td></td>
                        </form>
                    </tr>
                </table>
            </div>
        </div>

        <div class="profile-group" ng-show="contact.hasVolunteer">
            <span class="profile-attribute">Hours Volunteered</span>
            <span class="profile-value" id="hours">Between
                <div class="controls">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="dd MMM yyyy" ng-model="firstDate"
                               is-open="opened" ng-required="true" close-text="Close" />
								<span class="input-group-btn">
									<button type="button" class="form-control btn btn-default" ng-click="open($event)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
								</span>
                    </p>
                    and
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="dd MMM yyyy" ng-model="lastDate"
                               is-open="opened" ng-required="true" close-text="Close" />
								<span class="input-group-btn">
									<button type="button" class="form-control btn btn-default" ng-click="open($event)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
								</span>
                    </p>

                </div>
                <!--should call the minutesWorked function from the volunteer server controller -->
                are {{(minutesWorked(firstDate, lastDate))/60}}</span>
        </div>

    </fieldset>



    <!--<div class = "col-xs-12">-->
        <!--<a ng-click="contactsCtrl.modalUpdate('lg', contact)" class="list-group-item">-->
            <!--&lt;!&ndash;<h4 class="cust-list text-center">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="glyphicon glyphicon-user"></i>&ndash;&gt;-->
            <!--&lt;!&ndash;</h4>&ndash;&gt;-->
            <!--<div class="row">-->
                <!--<div class="col-xs-10 col-xs-offset-1 text-center">-->
                     <!--{{contact.firstName}} {{contact.surname}} </h4>-->
                    <!--<small class="list-group-item-text text-muted">-->
                        <!--<span data-ng-bind="contact.created | date:'medium'"></span>-->
                    <!--</small>-->
                <!--</div>-->
            <!--</div>-->

        <!--</a>-->
    <!--</div>-->
</div>

<!--<h4> {{contact.firstName}} {{contact.surname}} </h4>-->



<!--<div class="alert alert-warning text-center" data-ng-hide="!contacts.$resolved || contacts.length">-->
    <!--No Contacts yet, why don't you <a href="/#!/contacts/create">create one</a>?-->
<!--</div>-->
