
.cust-profile {
    font-size: 250px;
}

.cust-list {
    font-size: 50px;
}

.checkbox-left {
    width: 10%;
    text-align: left;
}

.text-pink {
    color: #ff2c9c;
}

.background-pink {
    background-color: hotpink;
}
.action-buttons a { margin-left: 1em; text-decoration: none }
@media (max-width: 568px) {
    .action-buttons a { margin-left:0; }
}

.action-buttons a i { font-size: 1.75em}

.right_col {
    padding-right:.5em;
}

.contact_input {
    width: 100%;
}

